In [87]:
import pandas as pd
import numpy as np
import datetime
walmart=pd.read_csv("walmart_stock.csv")

In [76]:
walmart['Date']
walmart.describe(include='all')

,Date,Open,High,Low,Close,Volume,Adj Close
count,1258,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.000000
unique,1258,NaN,NaN,NaN,NaN,NaN,NaN
top,2016-09-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN
first,2012-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
last,2016-12-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,72.357854,72.839388,71.918601,72.388450,8.222093e+06,67.238838
std,NaN,6.768090,6.768187,6.744076,6.756859,4.519781e+06,6.722609
min,NaN,56.389999,57.060001,56.299999,56.419998,2.094900e+06,50.363689
25%,NaN,68.627503,69.059998,68.162502,68.632497,5.791100e+06,63.778335
50%,NaN,73.235000,73.725002,72.839996,73.265000,7.093500e+06,68.541162
75%,NaN,76.629997,77.094999,76.250000,76.709999,9.394675e+06,71.105668
max,NaN,90.800003,90.970001,89.250000,90.470001,8.089810e+07,84.914216

#   7- Mean of the Close column

In [151]:
Close_mean=walmart['Close'].mean()
print("Mean of the Close column"," :",Close_mean)

Mean of the Close column  : 72.38844998012726

#   8- Max and min of the Volume column

In [153]:
Volume_max=walmart['Volume'].max()
Volume_min=walmart['Volume'].min()
print("Max of the Volume column", "  :" ,Volume_max)
print("Min of the Volume column", "  :" ,Volume_min)

Max of the Volume column   : 80898100
Min of the Volume column   : 2094900

#  9- Numbers of days the close was lower than 60

In [154]:
Days=walmart.loc[walmart['Close']<60,:]['Date'].shape[0]
print("The close was lower than 60 during :", Days, "Day")

The close was lower than 60 during : 81 Day

# 10- Percentage of the time was  High greater than 80 dollars

In [156]:
High_greater= walmart.loc[walmart['High']>80,:]['Date'].shape[0]/walmart['Date'].shape[0]
print("Percentage of the time was High greater than 80 dollars      :",High_greater*100,"%")

Percentage of the time was High greater than 80 dollars      : 9.141494435612083 %

#  11- Max High per year

In [93]:
walmart['Date']=pd.to_datetime(walmart['Date'],format='%Y-%m-%d %H:%M:%S.%f')

In [97]:
walmart['Year']=walmart['Date'].dt.year
walmart['Month']=walmart['Date'].dt.month
walmart

,Date,Open,High,Low,Close,Volume,Adj Close,Year,Month
0,2012-01-03,59.970001,61.060001,59.869999,60.330002,12668800,52.619235,2012,1
1,2012-01-04,60.209999,60.349998,59.470001,59.709999,9593300,52.078475,2012,1
2,2012-01-05,59.349998,59.619999,58.369999,59.419998,12768200,51.825539,2012,1
3,2012-01-06,59.419998,59.450001,58.869999,59.000000,8069400,51.459220,2012,1
4,2012-01-09,59.029999,59.549999,58.919998,59.180000,6679300,51.616215,2012,1
...,...,...,...,...,...,...,...,...,...
1253,2016-12-23,69.430000,69.750000,69.360001,69.540001,4803900,69.032411,2016,12
1254,2016-12-27,69.300003,69.820000,69.250000,69.699997,4435700,69.191240,2016,12
1255,2016-12-28,69.940002,70.000000,69.260002,69.309998,4875700,68.804087,2016,12
1256,2016-12-29,69.209999,69.519997,69.120003,69.260002,4298400,68.754456,2016,12
1257,2016-12-30,69.120003,69.430000,68.830002,69.120003,6889500,68.615479,2016,12

In [157]:
High_2012= walmart.loc[walmart['Year']==2012,]['High'].max()
print("High_2012  :",High_2012 )

2012 : 77.599998

In [159]:
High_2013=walmart.loc[walmart['Year']==2013,]['High'].max()
print("High_2013 :",High_2013)

High_2013 : 81.370003

In [162]:
High_2014= walmart.loc[walmart['Year']==2014,]['High'].max()
print("High_2013  :",High_2013)

High_2013  : 81.370003

In [163]:
High_2015= walmart.loc[walmart['Year']==2015,]['High'].max()
print("High_2015  :",High_2015)

High_2015  : 90.970001

In [165]:
High_2016= walmart.loc[walmart['Year']==2016,]['High'].max()
print("High_2016  :",High_2016)

High_2016  : 75.190002

#  12- The average Close for each Calendar Month

In [149]:
mois=['0','Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre']
elements=pd.Series([1,2,3,4,5,6,7,8,9,10,11,12],index=j)
for i in elements:
        print(mois[i],"  :" ,walmart.loc[walmart['Month']==i,]['High'].mean())

Janvier   : 71.97009924752473
Février   : 71.72845387628868
Mars   : 72.20289709345795
Avril   : 73.45123863809525
Mai   : 72.71783049056604
Juin   : 72.9262265471698
Juillet   : 74.77878527102803
Août   : 73.51781822727274
Septembre   : 72.60294148039216
Octobre   : 72.12963649090908
Novembre   : 72.52673264356439
Décembre   : 73.35566025471697